/*CSS pour mobile*/
@media screen and (max-width:600px){
.nav_logo{
  flex-basis: 50%;
  margin-left: 20px;
}
/*SECTION 1*/
.introduction{
  font-family: "Raleway", sans-serif;
}
.introduction h1{
  margin-left: 20px;
}
.introduction h2{
  margin-left: 20px;
}
form{
  margin-left: 15px;
}
.loupe{
  border-radius: 10px;
  margin-left: -5px;
}
.loupe i{
  display: flex;
}
.rechercher{
  display: none;
}

.bloc_filtres{
  flex-direction: column;
}
.titre_filtre{
  margin-bottom: 10px;
  margin-right: auto;
  padding-left: 10px;
}
.bloc_cont_filtres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}
.filtre{
  font-size: 13px;
  margin-right: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.bloc_information {
margin-left: 15px;
}

/*SECTION 2*/
#hebergements{
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 0;
  padding-left: 25px;
}
#hebergements h2{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.bloc_cartes_hebergements{
  display: flex;
  flex-direction: column;
}
.bloc_hebergements{
  width: 95%;
  height: 34vh;
  margin-bottom: 15px;
}
.bloc_hebergements a img{
  width: 98.5%;
  height: 23vh;
}
.bloc_hebergements .titre_hôtel{
  margin-top: 0px;
  font-size: 1.1em;
}
.bloc_hebergements .prix{
  font-size: 0.9em;
}
.bloc_hebergements .etoiles{
  font-size: 0.6em;
  margin-bottom: 10px;
}
.lien_afficher{
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
}


/*SECTION 3*/
#activites h2{
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.bloc_cartes_activites{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.titre_activites{
  font-size: 15px;
  padding: 10px;
  margin-left: 10px;
}
.colonne_activites1{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.colonne_activites2{
  display: flex;
  flex-direction: column;
  margin-right: 0;
}
.bloc_activites{
  width: 90%;
  height: 28vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites img{
  width: 100%;
  height: 23vh;
  object-position: center 35%;
}
.bloc_activites2{
  width: 90%;
  height: 28vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites2 img{
  width: 100%;
  height: 23vh;
}
.bloc_activites3{
  width: 90%;
  height: 28vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites3 img{
  width: 100%;
  height: 23vh;
  object-position: center 40%;
}
.bloc_activites5{
  width: 90%;
  height: 28vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites5 img{
  width: 100%;
  height: 23vh;
  object-position: center 20%;
}
.bloc_activites6{
  width: 90%;
  height: 28vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites6 img{
  width: 100%;
  height: 23vh;
  object-position: center 40%;
}

/*Footer*/
footer{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.bloc_footer{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.bloc_contenu_footer{
  margin-right: 0%;
}
.bloc_contenu_footer a{
  font-size: 1em;
  margin-bottom: 15px;
}
.bloc_contenu_footer h3{
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 25px;
}
}

@media screen and (max-width:425px){
  /*SECTION 1*/
form{
  margin-left: 12px;
}
form .texterecherche{
  font-size: 13px;
  padding: 15px;
}
.titre_filtre{
  padding-left: 0px;
}
.bloc_information {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
font-size: 13px;
}
.bloc_footer{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
}
@media screen and (max-width:320px){
.nav_logo{
  margin-left: 10px;
}
/*SECTION 1*/
.introduction h1{
  margin-left: 10px;
}
.introduction h2{
  margin-left: 10px;
}
form{
  margin-left: 10px;
}

.titre_filtre{
  padding-left: 0px;
}
.bloc_cont_filtres{
  margin-left: 10px;
}
.bloc_information {
margin-left: 5px;
}

.aside_populaires{
  flex: 1 100%;
  height: fit-content;
  border-radius: 0px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 10px;
}
.bloc_titre_populaires{
  font-size: 20px;
}
.bloc_populaires{
  width: 100%;
  height: 15vh;
  margin-bottom: 15px;
  padding: 0;
}
.bloc_populaires a img{
  width: 40%;
  height: 14vh;
}
.titre_hôtel_populaires{
  font-size: 0.8rem;
}
.prix_populaires{
  font-size: 0.7rem;
}

#hebergements{
  padding: 0;
  padding-left: 10px;
}
#hebergements h2{
  font-size: 20px;
}
.bloc_hebergements{
  height: 32vh;
}
.lien_afficher{
  padding-left: 10px;
}

#activites h2{
  padding-left: 10px;
}

.bloc_footer{
  padding-left: 5px;
}
}