html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration: none;
}

main{
font-family: "Raleway", sans-serif;
width: auto;
margin: auto;
}


/* Barre de navigation */
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav_logo{
  margin-right: auto;
  margin-left: 20px;
}
.nav_logo img{
  width: 100px;
}
header a{
  padding: 30px 50px;
}
.menu{
  display: flex;
  flex-direction: row;
}
#bloc_hebergements a{
  color: #0065fc;
}
#bloc_hebergements{
  padding-top: 20px;
  border-top: 3px solid #0065fc;
}
#bloc_activites a{
  color: black;
}
#bloc_activites{
  padding-top: 20px;
  border-top: 3px solid transparent;
}
#bloc_inscrire{
  padding-top: 20px;
}
#bloc_inscrire a{
  color: #0065fc;
  font-weight: bold;
}
#bloc_activites:hover{
  border-top: 3px solid #0065fc;
}
#bloc_inscrire:hover{
  border-top: 3px solid #0065fc;
}

/*Section 1*/
.introduction{
  padding: 20px;
  font-family: "Raleway", sans-serif;
}
.introduction h1{
  font-size: 20px;
  font-family: "Raleway700", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

form{
  padding: 20px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 12px 0px 0px 12px;
}
form .map{
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
}
form .texterecherche{
  font-weight: bold;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 20px 40px;
  margin-left: -5px;
  text-align: center;
  border: 1px solid  #f2f2f2;
}
.loupe{
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  align-self: center;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background-color: #0065fc;
  color: white;
}
.loupe:hover{
  background-color: #deebff;
  color: #0065fc;
}
.loupe i{
  display: none;
}

.bloc_filtres{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bloc_cont_filtres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.titre_filtre{
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
.filtre{
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  border-radius: 40px;
  padding-right: 30px;
  cursor: pointer;
  justify-content: center;
}

.filtre i{
  font-size: 15px;
  align-items: center;
  padding: 13px;
  border-radius: 20px;
  color: #0065fc;
  background-color: #deebff;
  cursor: pointer;
  margin-right: 5px;
  margin-left: -5px;
}
.filtre:hover i{
  color: #deebff;
  background-color: #0065fc;
}
.bloc_information {
margin-top: 10px;
font-size: 13px;
font-weight: 400;
display: flex;
flex-direction: row;
align-items: center;
}
.fa-stack{
margin-right: 5px;
}

/*SECTION 2*/
.bloc_section_hebergement_populaires{
  display: flex;
  flex: row;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.hebergements{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 65vw;
  height: 600px;
  border-radius: 20px;
  float: left;
  margin-right: 50px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.hebergements h2{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.bloc_cartes_hebergements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.bloc_hebergements{
  width: 30%;
  height: 28vh;
  padding: 3px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.bloc_hebergements a img{
  width: 100%;
  height: 16vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.bloc_hebergements .titre_hôtel{
  color: black;
  font-weight: bold;
  margin: 10px;

}
.bloc_hebergements .prix{
  color: black;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 10px;
}
.gras{
  font-weight: bold;
}
.bloc_hebergements .etoiles{
  color: #0065fc;
  font-size: 11px;
  margin-left: 10px;
}
.lien_afficher{
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}

.aside_populaires{
  display: flex;
  flex-direction: column;
  width: 28vw;
  height: 600px;
  border-radius: 20px;
  margin-right: 20px;
  background-color: #f2f2f2;
}
.bloc_titre_populaires{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.bloc_cartes_populaires{
  display: flex;
  flex-direction: column;
}
.bloc_populaires{
  width: 25vw;
  height: 18vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin: auto;
  margin-bottom: 20px;
}
.bloc_populaires a img{
  width: 10vw;
  height: 16.5vh;
  border-radius: 20px 0px 0px 20px;
  display: block;
  margin: 5px;
  object-fit: cover;
}
.bloc_populaires a{
  display: flex;
  flex-direction: row;
}
.bloc_populaires .contenu_pop{
 padding: 5px;
}
.titre_hôtel_populaires{
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}
.prix_populaires{
  color: black;
  font-weight: normal;
}
.etoiles_pop{
  color: #0065fc;
  font-size: 11px;
  margin-top: 50px;
}

/*SECTION 3*/
.activites{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.activites h2{
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.bloc_cartes_activites{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-start;
}
.titre_activites{
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.colonne_activites1{
  margin-right: 2%;
}
.bloc_activites1{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 22vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin-right: 2%;
}
.bloc_activites1 img{
  width: 22vw;
  height: 45vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.bloc_activites4{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 22vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin-right: 2%;
}
.bloc_activites4 img{
  width: 22vw;
  height: 45vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.bloc_activites2{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 23vw;
  height: 23vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 20px;
}
.bloc_activites2 img{
  width: 23vw;
  height: 18vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.bloc_activites3{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 23vw;
  height: 24vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
}
.bloc_activites3 img{
  width: 23vw;
  height: 19vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: top;
}
.bloc_activites5{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 23vw;
  height: 23vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
  margin-bottom: 20px;
}
.bloc_activites5 img{
  width: 23vw;
  height: 18vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: top;
}
.bloc_activites6{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 23vw;
  height: 24vh;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
}
.bloc_activites6 img{
  width: 23vw;
  height: 19vh;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

/*Footer*/
footer{
  background: #f2f2f2;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.bloc_footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.bloc_contenu_footer{
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}
.bloc_contenu_footer a{
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}
.bloc_contenu_footer h3{
  font-weight: bold;
  margin-bottom: 20px;
}

/*CSS modification sur desktop*/
@media screen and (max-width:1300px){
.hebergements{
  height: 650px;
}
.bloc_hebergements .titre_hôtel{
  font-size: 16px;
}
.bloc_hebergements .prix{
  font-size: 14px;
}

.aside_populaires{
  height: 650px;
}
.titre_hôtel_populaires{
  font-size: 15px;
  margin-bottom: 10px;
}
.prix_populaires{
  font-size: 13px;
}
.etoiles{
  font-size: 1em;
}

.bloc_contenu_footer{
  margin-right: 15%;
}
}


/*CSS pour tablette*/
@media screen and (max-width:1024px){
/* Barre de navigation */
header a{
  padding: 30px 20px;
}

/*Section 1*/
.filtre{
  margin-bottom: 10px;
}.bloc_filtres{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bloc_cont_filtres{
  margin-top: 10px;
}

/*SECTION 2*/
.bloc_section_hebergement_populaires{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.hebergements{
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.bloc_cartes_hebergements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bloc_hebergements{
  width: 28vw;
  height: 25vh;
}
.bloc_hebergements a img{
  width: 100%;
  height: 16vh;
}
.bloc_hebergements .titre_hôtel{
  font-size: 0.7em;
}
.bloc_hebergements .prix{
  font-size: 0.6em;
}
.lien_afficher{
  padding: 30px;
}

.aside_populaires{
  width: 100%;
  height: auto;
  margin-right: 0px;
  margin-bottom: 20px;
}
.bloc_cartes_populaires{
  display: flex;
  flex-direction: row;
}
.bloc_populaires{
  width: 25vw;
  height: 20vh;
}
.bloc_populaires a img{
  width: 10vw;
  height: 19vh;
}
.bloc_populaires .contenu_pop{
  padding: 5px;
}
.titre_hôtel_populaires{
  font-size: 0.8em;
}
.prix_populaires{
  font-size: 0.7em;
}
.etoiles_pop{
  margin-top: 10px;
  font-size: 0.5em;
}

/*SECTION 3*/
.bloc_cartes_activites{
  margin: auto;
  justify-content: center;
}
.titre_activites{
  font-size: 0.6em;
}
.colonne_activites1{
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}
.colonne_activites2{
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}
.bloc_activites1{
  width: 29vw;
  height: 40vh;
  margin-bottom: 20px;
}
.bloc_activites1 img{
  width: 29vw;
  height: 35vh;
}
.bloc_activites4{
  width: 29vw;
  height: 40vh;
}
.bloc_activites4 img{
  width: 29vw;
  height: 35vh;
}
.bloc_activites2{
  width: 29vw;
  height: 40vh;
  margin-right: 3%;
}
.bloc_activites2 img{
  width: 29vw;
  height: 35vh;
}
.bloc_activites3{
  width: 29vw;
  height: 40vh;
}
.bloc_activites3 img{
  width: 29vw;
  height: 35vh;
}
.bloc_activites5{
  width: 29vw;
  height: 40vh;
  margin-right: 3%;
}
.bloc_activites5 img{
  width: 29vw;
  height: 35vh;
}
.bloc_activites6{
  width: 29vw;
  height: 40vh;
}
.bloc_activites6 img{
  width: 29vw;
  height: 35vh;
}

/*Footer*/
.bloc_footer{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.bloc_contenu_footer{
  margin-right: auto;
}
.bloc_contenu_footer a{
  font-size: 0.6em;
}
.bloc_contenu_footer h3{
  font-size: 0.9em;
}

}


/*CSS pour mobile*/
@media screen and (max-width:576px){
main{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

/*BARRE DE NAVIGATION*/
header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav_logo{
  flex-basis: 50%;
  margin-left: 20px;
}
.nav_logo img{
  width: 100px;
}
header a{
  padding: 0px 0px;
}
.menu{
  order: 3;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#bloc_hebergements{
 width: 50%;
 padding: 10px 50px;
 border-top: none;
 border-bottom: 3px solid #0065fc;
}
#bloc_activites{
  width: 50%;
  padding: 10px 50px;
  border-top: none;
  border-bottom: 3px solid #f2f2f2;
}
#bloc_inscrire{
  padding-right: 20px;
}
#bloc_inscrire a{
  border-bottom: 3px solid transparent;
  border-top: none;
}
#bloc_activites:hover{
  border-bottom: 3px solid #0065fc;
  border-top: none;
}
#bloc_inscrire:hover{
  border-bottom: 3px solid #0065fc;
  border-top: none;
  padding-bottom: 10px;
}



/*SECTION 1*/
.introduction{
  margin-right: 0;
}
form{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.loupe{
  border-radius: 10px;
  margin-left: -5px;
}
.loupe i{
  display: flex;
}
.rechercher{
  display: none;
}
.search{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bloc_filtres{
  display: flex;
  flex-direction: column;
}
.titre_filtre{
  margin-right: auto;
  margin-bottom: 20px;
}
.bloc_cont_filtres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.filtre{
  margin-bottom: 20px;
  padding-right: 10px;
}



/*SECTION 2*/
.bloc_section_hebergement_populaires{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.hebergements{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.bloc_cartes_hebergements{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bloc_hebergements{
  width: 90%;
  height: auto;
  padding: 3px;
}
.bloc_hebergements a img{
  width: 100%;
  height: 16vh;
}
.bloc_hebergements .titre_hôtel{
  font-size: 1.1em;
}
.bloc_hebergements .prix{
  font-size: 0.9em;
}
.bloc_hebergements .etoiles{
  font-size: 0.7em;
  margin-bottom: 10px;
}
.lien_afficher{
  padding: 20px;
}

.aside_populaires{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.bloc_cartes_populaires{
  display: flex;
  flex-direction: column;
}
.bloc_populaires{
  width: 90%;
  height: 19vh;
  padding: 3px;
}
.bloc_populaires a img{
  width: 40%;
  height: 19vh;
  margin: 0px;
}
.bloc_populaires .contenu_pop{
  padding: 20px 20px;
}
.titre_hôtel_populaires{
  font-size: 1.1em;
}
.prix_populaires{
  font-size: 0.9em;
}
.etoiles_pop{
  margin-top: 20%;
  font-size: 0.7em;
}


/*SECTION 3*/
.bloc_cartes_activites{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.colonne_activites1{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.colonne_activites2{
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.bloc_activites1{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites1 img{
  width: 100%;
  height: 15vh;
}
.bloc_activites4{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites4 img{
  width: 100%;
  height: 15vh;
}
.bloc_activites2{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites2 img{
  width: 100%;
  height: 15vh;
}
.bloc_activites3{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites3 img{
  width: 100%;
  height: 15vh;
}
.bloc_activites5{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites5 img{
  width: 100%;
  height: 15vh;
}
.bloc_activites6{
  width: 90%;
  height: 20vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bloc_activites6 img{
  width: 100%;
  height: 15vh;
}


/*Footer*/
footer{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.bloc_footer{
  display: flex;
  flex-direction: column;
}
.bloc_contenu_footer{
  margin-right: 0%;
}
.bloc_contenu_footer a{
  font-size: 1em;
  margin-bottom: 15px;
}
.bloc_contenu_footer h3{
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 25px;
}

}